[submodule "bin/stty"]
	path = bin/stty
	url = https://github.com/stemjail/tty-rs.git
[submodule "usr.bin/perg"]
	path = usr.bin/perg
	url = https://github.com/guerinoni/perg.git
[submodule "bin/rush"]
	path = bin/rush
	url = https://github.com/nushell/nushell.git
[submodule "usr.bin/cmake"]
	path = usr.bin/cmake
	url = https://github.com/Kitware/CMake.git
[submodule "usr.bin/ninja"]
	path = usr.bin/ninja
	url = https://github.com/ninja-build/ninja.git
